/* CENTER EVERYTHING */
.profile-container {
    margin-top:20vh;
    margin-left: 20vw;
    height: 85vh;
    width: 100%;
}

/* CAROUSEL LAYOUT */
.profile-carousel {
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
}

/* SIDE LABEL */
.side-label {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.side-label .number {
    writing-mode: vertical-rl;
}

.side-label .label {
    writing-mode: vertical-rl;
    margin-top: 10px;
}

.side-label .line {
    width: 1px;
    height: 120px;
    background: black;
    margin: 15px 0;
}

/* IMAGE STACK */
.image-stack {
    position: relative;
    width: 350px;
    height: 350px;
}

.bg-box {
    width: 330px;
    height: 500px;
    background: #fee5ff;
    position: absolute;
    top: -30px;
    left: -30px;
}

.image-stack img {
    width: 330px;
    height: auto;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    box-shadow: 10px 10px 10px #998787;
    }

/* TEXT */
.profile-info h1 {
    font-size: 60px;
    font-family: "Impact", sans-serif;
    margin: 0;
}

.profile-info p {
    font-size: 24px;
    color: #555;
}

/* ARROWS */
.arrows button {
    font-size: 28px;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #333;
    background: white;
    cursor: pointer;
}

.arrows button:hover {
    background: #eee;
}


